@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&display=swap');

body, html {
  height: 100%;
  margin: 0;
  background: #edeef0;
}

.login-page {
  background-image: url('./images/home_background.jpg');
  background-color: #cccccc;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
}

.login-form, .add-event-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-input-group {
  background-color: rgba(24, 26, 27,0.8);
  border-radius: 35px;
  margin-bottom: 20px;
}

.login-input input {
  color: rgb(211, 207, 201);
  background-color: transparent;
  padding: 10px 0 10px 15px;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 1px;
  border: none;
  box-sizing: border-box;
  background: transparent;
  font-family: 'Mukta', sans-serif;
  width: 100%;
  outline: none;
}

.login-input button {
  background-color: rgb(144, 3, 10);
  color: rgb(232, 230, 227);
  background: #fc636b;
  border: none;
  padding: 11px 15px;
  text-transform: uppercase;
  font-family: 'Mukta', sans-serif;
  width: 100%;
  margin-top: 10px;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 35px;
}

.dashboard, .add-event-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #edeef0;
  height: 100%;
  min-height: 100vh;
}

.dashboard-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Biryani', sans-serif;
  color: #383232;
}

.event-list, .add-event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  max-width: 65vw;
}

.event {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  padding: 0 15px 0 15px;
}

.event-header {
  display: flex;
  width: 100%;
}

.event-header {
  justify-content: space-between;
  align-items: center;
}

.event-title {
  font-family: 'Biryani', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #D0021B;
  letter-spacing: -0.4px;
}

.date-bubble {
  display: flex;
  background: #B7B7B7;
  border-radius: 40px;
}

.event-date {
  display: flex;
  font-family: 'Biryani', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #FEFEFE;
}

.event-date p {
  margin: 0;
  padding: 0 1vh 0 1vh;
}

.expense-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.expense {
  display: flex;
  justify-content: space-between;
  padding: .5vh;
  margin-bottom: 2vh ;
  border: 1px solid rgba(0,102,204,0.48);
  border-radius: 40px;
  color: rgba(0,102,204,0.88);
  padding: 1vh;
}

.expense-name {
  display: flex;
  justify-content: flex-start;
  width: 20vh;
}

.expense-amount {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 10vh;
}

.expense-date {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 20vh
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav {
  width: 100%;
  padding: 0 20px 0 20px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  list-style-type:none;
}

nav ul li a {
  font-family: 'Biryani', sans-serif;
  font-size: 13px;
  line-height: 14px;
  color: #313130;
  font-weight: 400;
  text-decoration: none;
  display: block;
  position: relative;
  padding: 1vh;
}

.add-event-button {
  background: #1927ba;
  color: rgb(232, 230, 227);
  border: none;
  padding: 11px 15px;
  text-transform: uppercase;
  font-family: 'Mukta', sans-serif;
  width: 100%;
  margin-bottom: 4vh;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 35px;
}

.add-event-header {
  display: flex;
  justify-content: center;
  width: 100%;
}
.add-event-header h2 {
  font-family: 'Biryani', sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: #D0021B;
  letter-spacing: -0.5px;
}

.add-event-form-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  font-family: 'Biryani', sans-serif;
  color: #383232;
}

.event-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-expense-button {
  display: flex;
  color: #3677CB;
  background: #d5e2f3;
  border: none;
  padding: 11px 15px;
  text-transform: uppercase;
  font-family: 'Mukta', sans-serif;
  margin-bottom: 4vh;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 35px;
}

.delete-expense-button {
  display: flex;
  color: #FFFFFF;
  background: #ff0800;
  border: none;
  padding: 11px 15px;
  text-transform: uppercase;
  font-family: 'Mukta', sans-serif;
  margin-bottom: 4vh;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 35px;
}

a {
  text-decoration: none;
}