body, html {
  height: 100%;
  margin: 0;
}

.login-page {
  background-image: url('./images/home_background.jpg');
  background-color: #cccccc;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-input-group {
  background-color: rgba(24, 26, 27,0.8);
  border-radius: 35px;
  margin-bottom: 20px;
}

.login-input input {
  color: rgb(211, 207, 201);
  background-color: transparent;
  padding: 10px 0 10px 15px;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 1px;
  border: none;
  box-sizing: border-box;
  background: transparent;
  font-family: 'Mukta', sans-serif;
  width: 100%;
  outline: none;
}

.login-input button {
  background-color: rgb(144, 3, 10);
  color: rgb(232, 230, 227);
  background: #fc636b;
  border: none;
  padding: 11px 15px;
  text-transform: uppercase;
  font-family: 'Mukta', sans-serif;
  width: 100%;
  margin-top: 10px;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 35px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  background: #edeef0;
  height: 100%;
  min-height: 100vh;
}

.dashboard-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.event-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 
.event {
  background-color: rgba(24, 26, 27,0.8);
  border-radius: 35px;
  margin-bottom: 20px;
} */

/* .event-list {
  background-color: rgb(144, 3, 10);
} */